.navbar{
   box-shadow: 0px 0px 5px;
   background-color: #a9e74c;
   margin-bottom: 10px;
}

.cemilanrisan{
    font-size: 30px;
    font-family: 'Nanum Pen Script', cursive;
}

.logosize{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid black;
}

.footerbg{
    box-shadow: 0px -1px 3px;
    margin-top: 10px;
    background-color: #a9e74c;
}

.logofooter{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid black;
}

.footertitle{
    margin-top: 10px;
    margin-bottom: 10px
}


/* font cemilanrisan */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
